.card {
  margin: 5%;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 200px;
  overflow: hidden;
  border: solid 1px;
  border-radius: 10px;
}
.left {
  height: 200px;
}
.right {
  height: 200px;
}
.head {
  margin: 5px;
}
.head span {
  margin: 10px;
}
.information {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 35px;
}
